*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#myCanvas{
  float: left;
  background-color: #808080;
}
.desc{
  float: left;
  margin-left: 30px;
}
.options{
  clear: both;
  font-size: 14px;
  color: #808080;
  padding-top: 50px;
  margin-left: 20px;
}
.options button{
  margin-right: 20px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #e5e5e5;
  border: 1px solid rgba(178, 178, 178, .3);
}
.options button:hover{
  background-color: rgba(97, 97, 97, .5);
  box-shadow: 0 0 10px rgba(97, 97, 97, .3);
}
#pencil{
  margin-right: 0;
}
#penBoldt,#col{
  margin-right: 20px;
}
#penBoldt{
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #e5e5e5;
  text-align: center;
  border: 1px solid rgba(178, 178, 178, .8);
}